@font-face {
    font-family: 'Arvo';
    src: url('fonts/Arvo-Bold.ttf');

}

#parentAnchorPane {
    -fx-font-family: "Arvo";
}

#parentAnchorPane .button {
    -fx-background-color: #3660A4;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#appTitle{
    -fx-font-size: 64;
    -fx-text-fill: #14243E;
     -fx-effect: dropshadow(gaussian, rgba(77, 136, 232, 1), 0, 1, 3, 3);
}

#optionsTitle{
    -fx-font-size: 25;
    -fx-alignment: center;
}

#optionsPane{
    -fx-background-color: #233D69;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#descriptLabel {
    -fx-font-size: 14;
    -fx-font-weight: normal;
}


#buttonLabels {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#buttonLabels .label:hover{
    -fx-font-size: 16px;
    -fx-underline: true;
}

#parentAnchorPane .button:hover {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight:bold;
}

#createButton{
    -fx-background-image: url('buttons/create.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#importButton {
    -fx-background-image: url('buttons/import.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#controlButton {
    -fx-background-image: url('buttons/controls.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#proceedButton {
    -fx-pref-width: 100;
    -fx-pref-height: 10;
    -fx-font-size: 12px;
    -fx-padding: 10px;
}

#cancelButton {
    -fx-pref-width: 100;
    -fx-pref-height: 10;
    -fx-font-size: 12px;
    -fx-padding: 10px;
}

#middleSizedButtons {
    -fx-pref-width: 200;
    -fx-pref-height: 20;
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

#circularButtons {
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

#sketchBackground {
    -fx-background-color: #808080;
}

#sketchboard {
    -fx-background-color: #ffffff;
}

#manualControlsButton {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-font-size: 14px;
    -fx-padding: 10 30 10 30;
}

#jogControlsButton {
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-padding: 0 0 0 0;
}

